<template>
  <div class="container-fluid">
    <div class="row">
      <adminaside/>
      <formaddpage/>
    </div>
  </div>
</template>
<script>
import { bus } from '../main'
import AdminAside from '../components/AdminAside'
import AdminFormAddPage from '../components/AdminFormAddPage'
export default {
  components: {
    'adminaside': AdminAside,
    'formaddpage': AdminFormAddPage
  }
}
</script>