<template>
  <div class="wrapper">
    <formauth class="form-auth"/>
  </div>
</template>
<script>
import FormAuth from '../components/FormAuth'
export default {
  components: {
    'formauth': FormAuth
  }
}
</script>
<style lang="sass" scoped>
.form-auth
  position: absolute
  top: 50%
  left: 50%
  width: 400px
  transform: translateX(-50%) translateY(-50%)
  
</style>