<template>
  <div class="container-fluid">
    <div class="row">
      <adminaside/>
      <colortheme/>
    </div>
  </div>
</template>
<script>
import { bus } from '../main'
import AdminAside from '../components/AdminAside'
import AdminFormColorTheme from '../components/AdminFormColorTheme'
export default {
  components: {
    'adminaside': AdminAside,
    'colortheme': AdminFormColorTheme
  }
}
</script>