<template>
  <div class="container-fluid">
    <navbar siteTitle="Components list"/>
    <section>
      <paragraph class="p-s"  paragraphText="Smallest text"/>
      <paragraph class="p-m"  paragraphText="Middle text"/>
      <paragraph class="p-l"  paragraphText="Large text"/>
      <paragraph class="p-xl" paragraphText="Largest text"/>
    </section>
    <section>
      <btn class="blue-hoverable blue btn-s"  btnText="Blue small"/>
      <btn class="blue-hoverable blue btn-m"  btnText="Blue default"/>
      <btn class="blue-hoverable blue btn-l"  btnText="Blue big"/>
    </section>
    <section>
      <btn class="blue btn-s inactive"          btnText="Blue inactive" disabled/>
      <btn class="blue blue-transparent btn-m"  btnText="Blue transparent"/>
      <btn class="blue btn-l"                   btnText="Blue preloader"/>
    </section>
    <section>
      <card cardArticleTitle="Card article" cardArticleText="Card text preview" cardbtnText="Go to post"></card>
      <card cardArticleTitle="Card article" cardArticleText="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." cardbtnText="Go to post"></card>
    </section>
    <section>
      <services/>
    </section>
    <section>
      <person/>
    </section>
  </div>
</template>
<script>
  import Btn from '../components/Btn'
  import Card from '../components/Card'
  import Header from '../components/Header'
  import Person from '../components/Person'
  import Services from '../components/Services'
  import Paragraph from '../components/Paragraph'
  export default {
    components: {
      'btn': Btn,
      'card': Card,
      'navbar': Header,
      'person': Person,
      'services': Services,
      'paragraph': Paragraph,
    }    
  }
</script>
<style lang="sass" scoped>

</style>