<template>
  <div class="container-fluid">
    <navbar siteTitle="Главная страница"/>
    <hat/>
    <section class="cards-field container">
      <paragraph class="p p-xl" paragraphText="Новости"/>
      <router-link class="btn_is-link" to="">
        <btn class="btn btn-m btn_is-link light" btnText="Все новости"/>
      </router-link>
      <div class="card-block">
        <card v-for="news in newsData" :key="news.id" class="col-md-4" :cardArticleImg='news.image' :cardArticleTitle='news.title' :cardArticleText='news.description' cardbtnText="Подробнее"/>
      </div>
    </section>
    <section class="services-field container">
      <paragraph class="p p-xl" paragraphText="Сервисы"/>
      <services/>
    </section>
    <section class="container person-field">
      <person/>
    </section>
    <color/>
  </div>
</template>
<script>
  import axios from 'axios'

  import Btn from '../components/Btn'
  import Card from '../components/Card'
  import Header from '../components/Header'
  import Person from '../components/Person'
  import SiteHat from '../components/SiteHat'
  import Services from '../components/Services'
  import Paragraph from '../components/Paragraph'
  import AdminFormColorTheme from '../components/AdminFormColorTheme'
  export default {
    components: {
      'btn': Btn,
      'card': Card,
      'hat': SiteHat,
      'navbar': Header,
      'person': Person,
      'services': Services,
      'paragraph': Paragraph,
      'color': AdminFormColorTheme
    },
    data() {
      return {
        newsData: ''
      }
    },
    mounted() {
      axios
        .get('src/json/news.json')
        .then(response => {
          this.newsData = response.data.news;
        })
    }
  }
</script>

<style lang="sass" scoped>
.container-fluid
  padding-bottom: 20px
  &.dark
    background-color: #4a4a4a
  &.light
    background-color: #fff
.cards-field
  card
    margin: 0
  .btn_is-link
    display: inline-block
    margin-left: auto
    margin-top: 0
section
  margin-top: 20px
.p-xl, .btn_is-link
  display: inline-block !important
.btn_is-link
  float: right
</style>