<template>
  <div class="container-fluid">
    <div class="row">
      <adminaside class="col-md-2"/>
      <formeditpage class="col-md-10"/>
    </div>
  </div>
</template>
<script>
import { bus } from '../main'
import AdminAside from '../components/AdminAside'
import AdminFormRenamePage from '../components/AdminFormRenamePage'
export default {
  components: {
    'adminaside': AdminAside,
    'formeditpage': AdminFormRenamePage
  }
}
</script>