<template>
  <div class="wrapper col-md-10">
    <paragraph class="p-xl paragraphHeader" paragraphText="Переименование страницы"/>
    <form>
      <div class="col-md-5">
        <paragraph paragraphText="Выберите название страницы"/>
        <select class="custom-select" v-model="selected">
          <option v-for="page in pages" :key="page.id">{{page.title}}</option>
        </select>
      </div>
      <inputform class="col-md-5" formInputMailLabel="Введите новое название страницы"/>
      <btn class="btn-m light" id="btnSubmitEditPage" btnText="Submit"/>
    </form>
  </div>
</template>
<script>
import axios from 'axios'

import Btn from '../components/Btn'
import Paragraph from '../components/Paragraph'
import FormInput from '../components/FormInput'
export default {
  data(){
    return{
      selected: '',
      pages: []
    }
  },
  components: {
    'btn': Btn,
    'paragraph': Paragraph,
    'inputform': FormInput
  },
  mounted() {
   axios
    .get('src/json/pages.json')
    .then(response => {
      this.pages = response.data.pages;
    });
  }
}
</script>
<style lang="sass" scoped>
  .wrapper
    padding-top: 40px
    display: block
  #btnSubmitEditPage
    margin-left: 15px
</style>