<template>
  <div class="wrapper col-md-10">
    <paragraph class="p-xl paragraphHeader" paragraphText="Добавление страницы"/>
    <form action="">
      <forminput class="col-md-5" formInputMailLabel="Введите название страницы"/>
      <forminput class="col-md-5" formInputMailLabel="Введите url страницы"/>
      <btn class="btn btn-m light" btnText="Submit"/>
    </form>
  </div>
</template>
<script>
import Btn from '../components/Btn'
import Paragraph from '../components/Paragraph'
import FormInput from '../components/FormInput'
export default {
  components: {
    'btn': Btn,
    'paragraph': Paragraph,
    'forminput': FormInput
  }
}
</script>
<style lang="sass" scoped>
  .wrapper
    padding-top: 40px
    display: block
  .btn
    margin-left: 15px !important
</style>