<template>
  <aside class="col-md-2 ">
    <paragraph class="p p-xl aside-title" paragraphText="Vuejs Admin"/>
    <router-link to="/add-page">
      <paragraph class="p p-m p_is-link" paragraphText="Добавить страницу"/>
    </router-link>
    <router-link to="/rename-page">
      <paragraph class="p p-m p_is-link" paragraphText="Переименовать страницу"/>
    </router-link>
    <router-link to="/color-theme">
      <paragraph class="p p-m p_is-link" paragraphText="Выбрать цветовую схему"/>
    </router-link>
    <router-link to="/">
      <paragraph class="p p-m p_is-link" paragraphText="Вернуться на сайт"/>
    </router-link>
  </aside>
</template>
<script>
  import Paragraph from '../components/Paragraph'
  export default {
    components: {
      'paragraph': Paragraph
    }
  }
</script>
<style lang="sass" scoped>
aside
  height: 100vh
  max-height: 100vh
  overflow-y: hidden
  padding-top: 40px
  .p_is-link
    
    margin-top: 10px
    margin-bottom: 0
  .p
    margin-left: 20px
</style>