<template>
  <div class="wrapper col-md-10">
    <paragraph class="p p-xl paragraphHeader" paragraphText="Выбор цветовой схемы"/>
    <div class="color-palettes">
      <paragraph class="p p-l p_link" v-for="colorTheme in colorThemes" :key="colorTheme.id" :paragraphText='colorTheme.name' @click="changeTheme(colorTheme.title)"/>
    </div>
    <div class="p theme-block col-md-5">
      <div class="navbar">
        <paragraph class="p p-l" paragraphText="Фон шапки сайта"/>
      </div>
      <paragraph class="p p-l" paragraphText="Цвет текста"/>
      <btn class="btn btn-m light col-md-12" btnText="Цвет кнопки"/>
      <paragraph class="p p-l p_link" paragraphText="Цвет ссылки"/>
    </div>
  </div>
</template>
<script>
import axios from 'axios'

import Paragraph from '../components/Paragraph'
import Btn from '../components/Btn'

export default {
  components: {
    'paragraph': Paragraph,
    'btn': Btn
  },
  data(){
    return {
      colorThemes: ''
    }
  },
  mounted() {
   axios
    .get('src/json/colorpalettes.json')
    .then(response => {
      this.colorThemes = response.data.colorPalette;
    });
  },
  methods: {
    changeTheme(title){
      let paragraphs  = document.getElementsByClassName('p'),
          btns        = document.getElementsByClassName('btn'),
          links       = document.getElementsByClassName('p_link'),
          nav         = document.getElementsByClassName('navbar'),
          body        = document.getElementsByClassName('container-fluid'),
          cards       = document.getElementsByClassName('card'),
          services       = document.getElementsByClassName('service'),
          person       = document.getElementsByClassName('person__data');
      switch(title){
        case 'light':
          for (let i = 0; i < paragraphs.length; i++) {
            paragraphs[i].classList.remove('dark');
            paragraphs[i].className += " light";
          }
          for (let i = 0; i < nav.length; i++) {
            nav[i].classList.remove('dark');
            nav[i].className += " light";
          }
          for (let i = 0; i < body.length; i++) {
            body[i].classList.remove('dark');
            body[i].className += " light";
          }
          for (let i = 0; i < btns.length; i++) {
            btns[i].classList.remove('dark');
            btns[i].className += " light";
          }
          for (let i = 0; i < links.length; i++) {
            links[i].classList.remove('dark');
            links[i].className += " light";
          }
          for (let i = 0; i < cards.length; i++) {
            cards[i].classList.remove('dark');
            cards[i].className += " light";
          }
          for (let i = 0; i < services.length; i++) {
            services[i].classList.remove('dark');
            services[i].className += " light";
          }
          for (let i = 0; i < person.length; i++) {
            person[i].classList.remove('dark');
            person[i].className += " light";
          }
          break;
        case 'dark':
          for (let i = 0; i < paragraphs.length; i++) {
            paragraphs[i].classList.remove('light');
            paragraphs[i].className += " dark";
          }
          for (let i = 0; i < nav.length; i++) {
            nav[i].classList.remove('light');
            nav[i].className += " dark";
          }
          for (let i = 0; i < body.length; i++) {
            body[i].classList.remove('light');
            body[i].className += " dark";
          }
          for (let i = 0; i < btns.length; i++) {
            btns[i].classList.remove('light');
            btns[i].className += " dark";
          }
          for (let i = 0; i < links.length; i++) {
            links[i].classList.remove('light');
            links[i].className += " dark";
          }
          for (let i = 0; i < cards.length; i++) {
            cards[i].classList.remove('light');
            cards[i].className += " dark";
          }
          for (let i = 0; i < services.length; i++) {
            services[i].classList.remove('light');
            services[i].className += " dark";
          }
          for (let i = 0; i < person.length; i++) {
            person[i].classList.remove('light');
            person[i].className += " dark";
          }
          break;
      }
    }
  }
}
</script>
<style lang="sass" scoped>
  .wrapper
    padding-top: 40px
    display: block
  .navbar
    padding: 0
  .paragraphHeader
    padding-left: 0
    margin-bottom: 5px
  .theme-block
    margin-top: 20px
    padding: 20px
    border-radius: 5px
    &.light
      border: 1px solid #4a4a4a
    &.dark
      border: 1px solid #f2f2f2
    .p, .btn, .navbar
      margin: 5px 0
</style>