<template>
  <button class="btn"><span>{{btnText}}</span></button>
</template>
<script>
export default {
  props: ['btnText']
}
</script>
<style lang="sass" scoped>
  .btn
    font-size: 14px
    font-weight: 400
    padding: 5px 0px
    transition: 0.3s ease-in
    margin: 5px 0
    &-s
      min-width: 100px
    &-m
      min-width: 200px
    &-l
      min-width: 300px
    &-xl
      min-width: 350px
    &:hover
      cursor: pointer
  .light
    color: #f2f2f2
    background-color: #5588ee
    border: 2px solid transparent
    &:hover
      background-color: #fff
      color: #4a4a4a
      border: 2px solid #5588ee
  .inactive
    opacity: 0.5
  .dark
    color: #f2f2f2
    background-color: #9147ff
    border: 2px solid transparent
    &:hover
      background-color: transparent
      color: #4a4a4a
      background: #f2f2f2
      border: 2px solid #9147ff
</style>