<template>
  <div class="card">
    <img class="card-body__img card-img-top" alt="Изображение для публикации" :src="cardArticleImg">
    <div class="card-body">
      <paragraph  class="card-body__title card-title p p-l" :paragraphText="cardArticleTitle"/>
      <paragraph  class="card-body__text card-text p p-m"   :paragraphText="cardArticleText"/>
      <btn        class="card-body__btn btn-m light"        :btnText="cardbtnText"/>
    </div>
  </div>
</template>
<script>
import Btn from '../components/Btn'
import Paragraph from '../components/Paragraph'

export default {
  props: [
    'cardArticleImg', 'cardArticleTitle', 'cardArticleText', 'cardbtnText',
    'btnText', 'paragraphText'
  ],
  components: {
    'btn': Btn,
    'paragraph': Paragraph
  }
}
</script>
<style lang="sass" scoped>
.card
  display: inline-block
  vertical-align: top
  width: 18rem
  margin: 20px 15px 0 0
  img
    padding-top: 25px
  &.dark
    background-color: #2a2a2a
  .p
    margin: 10px 0
    padding: 0
.btn
  width: 100%
.service
  display: inline-block
  .card-body
    padding: 0
    &__img
      max-width: 100px
      max-height: 100px
    &__btn
      display: none
</style>