<template>
  <div class="form-group">
    <label>{{formInputMailLabel}}</label>
    <input class="form-control">
  </div>
</template>
<script>
export default {
  props: ['formInputMailLabel']
}
</script>
<style lang="sass" scoped>
.form-group
  margin-top: 15px
</style>