<template>
  <div class="wrapper">
    <paragraph class="p-xl" paragraphText="Вход"/>
    <form action="">
      <forminput formInputMailLabel="Имя пользователя"/>
      <forminput formInputMailLabel="Пароль"/>
      <btn class="btn light" btnText="Вход"/>
    </form>
  </div>
</template>
<script>
import Btn from '../components/Btn'
import Paragraph from '../components/Paragraph'
import FormInput from '../components/FormInput'
export default {
  components: {
    'paragraph': Paragraph,
    'forminput': FormInput,
    'btn': Btn
  }
}
</script>
<style lang="sass" scoped>
.wrapper
  border: 2px solid #4a4a4a
  padding: 20px
  border-radius: 20px
.btn
  display: block
  width: 100%
</style>