<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <router-link class="navbar-brand p" to="/">{{siteTitle}}</router-link>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" v-for="menuItem in menuItems" :key="menuItem.id">
        <router-link class="nav-link p" :to='menuItem.href'>{{menuItem.value}}</router-link>
      </li>
    </ul>
  </div>
</nav>
</template>
<script>
import axios from 'axios'
export default {
  props: ['siteTitle'],
  data() {
    return {
      menuItems: []
    }
  },
  mounted() {
    axios
      .get('src/json/header.json')
      .then(response => {
        this.menuItems = response.data.headerMenuItems;
      })
  }
}
</script>
<style lang="sass" scoped>

</style>