<template>
  <p @click="handleClick">{{paragraphText}}</p>
</template>
<script>
export default {
  props: ['paragraphText'],
  methods: {
    handleClick() {
      this.$emit('click')
    }
  }
}
</script>
<style lang="sass" scoped>
  .p
    font-weight: 400
    display: block
    margin-bottom: 0
    &-s
      font-size: 12px
    &-m
      font-size: 14px
    &-l
      font-weight: 700
      font-size: 20px
    &-xl
      font-weight: 700
      font-size: 24px
    &_link
      &:hover
        text-decoration: underline
        cursor: pointer
  .paragraphHeader
    padding-left: 15px
  .light
    color: #4a4a4a
  .dark
    color: #f2f2f2
</style>