<template>
  <div class="person col-md-12">
    <paragraph class="p p-xl person__post" :paragraphText='this.personPost'/>
    <div class="person__data row">
      <div class="person__text col-md-8">
        <paragraph class="person__name p p-l" :paragraphText='this.personName'/>
        <paragraph class="person__bio  p p-m" :paragraphText='this.personBio'/>
      </div>
      <div class="col-md-4 person__photo-container">
        <img class="person__photo" :src='personPhotoUrl' alt="Person photo">
      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
import Paragraph from '../components/Paragraph'
export default {
  components: {
    'paragraph': Paragraph
  },
  data() {
    return {
      personName: '',
      personBio:  '',
      personPhotoUrl: '',
      personPost: ''
    }
  },
  mounted() {
    axios
      .get('src/json/person.json')
      .then(response => {
        this.personBio = response.data.bio;
        this.personName = response.data.name;
        this.personPhotoUrl = response.data.photo;
        this.personPost = response.data.post;
      });
  }
}
</script>
<style lang="sass" scoped>
.person
  padding-left: 0
  margin-top: 40px
  &__data
    padding-left: 0
    &.dark
      background: #2a2a2a
      
      border-radius: 5px
      padding-top: 20px
      padding-bottom: 20px
  &__text
    vertical-align: top
  &__name
  &__bio
  &__post
    margin-bottom: 15px
  &__photo
    max-width: 300px
    &-container
      text-align: right
  &__text, &__photo-container, .p-xl
    display: inline-block
    
</style>