<template>
  <ul class="services col-md-12">
    <li class="service" v-for="service in services" :key="service.id">
      <a href="#" target="_blank">
        <img class="service__icon" :src='service.source' alt="Иконка сервиса">
        <paragraph class="service__title p p-l p_link" :paragraphText='service.value'/>
      </a>
    </li>
  </ul>
</template>
<script>
import axios from 'axios'
import Paragraph from '../components/Paragraph'
export default {
  props: [],
  components: {
    'paragraph': Paragraph
  },
  data() {
    return{
      services: []
    }
  },
  mounted() {
    axios
      .get('src/json/Services.json')
      .then(response => {
        this.services = response.data.services;
      });
  }
}
</script>
<style lang="sass" scoped>
ul
  list-style: none
  display: block
  margin-top: 20px
  padding-left: 0
li
  display: inline-block
  text-align: center
  padding: 10px 20px
  margin-right: 15px
  &:first-of-type
    margin-left: 0
  &:last-of-type
    margin-right: 0
  &.dark
    background: #2a2a2a
    border-radius: 5px
</style>