<template>
  <div class="site-hat">
    <img class="site-hat__background" :src='this.siteHatBg' alt="Шапка сайта">
    <div class="site-hat__content-section col-md-10">
      <img        class="site-hat__logo" :src='this.siteHatLogo' alt="Логотип сайта">
      <paragraph  class="p p-xl site-hat__headline" :paragraphText='siteHatName'/>
      <paragraph  class="p p-l site-hat__description" :paragraphText='siteHatDescription'/>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
import Paragraph from '../components/Paragraph'
export default {
  components: {
    'paragraph': Paragraph
  },
  data() {
    return {
      siteHatBg: '',
      siteHatLogo: '',
      siteHatName: '',
      siteHatDescription: ''
    }
  },
  mounted() {
    axios
      .get('src/json/header.json')
      .then(response => {
        this.siteHatName = response.data.siteHat.name;
        this.siteHatLogo = response.data.siteHat.logo;
        this.siteHatBg = response.data.siteHat.background;
        this.siteHatDescription = response.data.siteHat.description
      })
  }
}
</script>
<style lang="sass" scoped>
.site-hat
  position: relative
  height: 250px
  &__background
    position: absolute
    left: 50%
    transform: translateX(-50%)
    max-height: 250px
  &__content-section
    position: absolute
    top: 50%
    left: 63px
    transform: translateY(-50%);
    padding-left: 0
  &__logo, &__headline, &__description
    display: inline-block
  &__logo
    max-width: 150px
    max-height: 150px
</style>