<template>
  <div id="app">
    <router-view/>
  </div>
</template>
<script>

export default {
}
</script>
<style lang="sass">
html, body
  margin: 0
  padding: 0
  overflow-x: hidden
.container-fluid
  padding: 0
</style>